/* @font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato-Black.ttf") format("ttf"),
    font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato-Bold.ttf") format("ttf"),
    font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato-Regular.ttf") format("ttf"),
    font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato-Thin.ttf") format("ttf"),
    font-weight: 300;
} */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';
  /*sans-serif;*/
  font-size: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'header'
    'main';
}

.wrapper {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

/* HEADER */
.header {
  grid-area: header;
  background: #2d303a;
  box-shadow: inset 0px -6px 0px 0px rgba(50, 55, 70, 1);
}

.header-inner {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-bottom: 3px;
}

.header-nav {
  padding-top: 3px;
}

.header-nav_item {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.75px;
  text-align: justify;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s;
}

.header-nav_item:hover {
  opacity: 0.7;
  pointer: cursor;
}

.header-nav_item::after {
  content: '·';
  padding: 0 14px;
  margin: 0;
}

.header-nav_item:hover::after {
  color: #fff;
  text-decoration: none;
}

.header-nav_item:last-child::after {
  content: "";
  padding: 0;
}

.active {
  color: #f06c64;
}

.active::after {
  color: #fff;
}

/* MAIN */
/* INTRO */
.intro {
  background: #f06c64;
}

.intro-slider {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  transform: rotateY(180deg);
}

.slider {
  transition: opacity 0.3s;
}

.slider:hover {
  opacity: 0.5;
}

.phone_vertical {
  position: absolute;
  left: 200px;
  top: 78px;
}

.phone_horizontal {
  position: absolute;
  left: 450px;
  top: 164px;
}

/* SERVICES */
.services {
  color: #878da9;
  background: #f2f2f2;
  padding-bottom: 4.1rem;
  box-shadow: inset 0px -6px 0px 0px rgba(255, 255, 255, 1);
}

.section-title {
  padding-top: 3.9rem;
  font-size: 30px;
  padding-bottom: 1rem;
}

.services-intro {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04px;
  line-height: 30px;
}

.services-block {
  padding-top: 44px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 32px 20px;
  justify-content: space-between;
}

.services-item {
  display: flex;
  flex-direction: row;
}

.about-item {
  margin-left: 1.1rem;
}

.item-img {
  height: 62px;
  width: 62px;
}

.item-title {
  line-height: 17px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 1rem;
  font-weight: 900;
}

.item-text {
  text-align: justify;
  letter-spacing: 0px;
  margin-top: -5px;
  line-height: 22px;
  font-size: 12px;
}

/* PORTFOLIO */