*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';
  font-size: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

/* PORTFOLIO */
.portfolio-title {
  padding-top: 3.8rem;
  letter-spacing: 0.02px;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 1rem;
}

.portfolio {
  background: #2d2f39;
  color: #666d89;
  box-shadow: inset 0px -6px 0px 0px #323746;
  padding-bottom: 74px;
}

.portfolio_intro {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.001px;
  line-height: 30px;
}

.portfolio_selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 19px;
}

.portfolio_selector__item {
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.005px;
  text-decoration: none;
  border: 1px #767e9e solid;
  border-radius: 6px;
  color: #767e9e;
  padding-left: 7px;
  padding-right: 7px;
  margin-right: 10px;
  transition: color 0.3s;
}

.portfolio_selector__item:hover {
  color: #dedede;
  border: 1px #dedede solid;
}

.selected {
  color: #dedede;
  border: 1px #dedede solid;
  padding-left: 7px;
  padding-right: 7px;
}

.portfolio_block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px 20px;
  justify-content: space-between;
}

/* ABOUT US */
.about-us {
  background: #f1f1f1;
  color: #666d89;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.about-title {
  padding-top: 3.7rem;
  letter-spacing: -0.02px;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 1rem;
}

.about-us_intro {
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
  letter-spacing: 0.15px;
  line-height: 32px;
  margin-bottom: 43px;
}

.about-us_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 19px;
  justify-content: space-between;
}

.about-us_item {
  display: flex;
  flex-direction: column;
}

.about-us_title {
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
  text-align: justify;
  letter-spacing: -0.01px;
  padding-top: 16px;
}

.about-us_text {
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
}

.about-us_social {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social_link {
  height: 32px;
  width: 32px;
  border: 1px #767e9e solid;
  border-radius: 16px;
  padding-top: 8px;
  padding-left: 10px;
  margin-right: 8px;
}