/* @font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato-Black.ttf") format("ttf"),
    font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato-Bold.ttf") format("ttf"),
    font-weight: 700;
}

@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato-Regular.ttf") format("ttf"),
    font-weight: 400;
}

@font-face {
  font-family: 'Lato';
  src: url("./assets/fonts/Lato-Thin.ttf") format("ttf"),
    font-weight: 300;
} */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';
  /*sans-serif;*/
  font-size: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'header'
    'main';
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}

.header {
  grid-area: header;
  background: #2d303a;
  box-shadow: inset 0px -6px 0px 0px rgba(50, 55, 70, 1);
}

.header-inner {
  height: 95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-bottom: 3px;
}

.header-nav {
  padding-top: 3px;
}

.header-nav_item {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.header-nav_item::after {
  content: '·';
  padding: 0 14px;
  margin: 0;
}

.header-nav_item:last-child::after {
  content: "";
  padding: 0;
}