*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato';
  /*sans-serif;*/
  font-size: 100%;
  color: white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'header'
    'main';
}

body::-webkit-scrollbar {
  display: none;
}

:target:before {
  content: "";
  display: block;
  height: 50px;
  /* fixed header height*/
  margin: -50px 0 0;
  /* negative fixed header height */
}

.wrapper {
  width: 100%;
  max-width: 1020px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

/* HEADER */
.header {
  grid-area: header;
  background: #2d303a;
  box-shadow: inset 0px -6px 0px 0px rgba(50, 55, 70, 1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.burger_menu {
  display: none;
}

.header-logo {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -1px;
  padding-bottom: 3px;
}

.header-nav {
  padding-top: 3px;
}

.header-nav_item {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: -0.75px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  transition: opacity 0.3s;
}

.header-nav_item:hover {
  opacity: 0.4;
}

.header-nav_item::after {
  content: '·';
  padding: 0 14px;
  margin: 0;
}

.header-nav_item:hover::after {
  color: #fff;
  text-decoration: none;
}

.header-nav_item:last-child::after {
  content: "";
  padding: 0;
}

.activeItem {
  color: #f06c64;
}

.active {
  color: #f06c64;
}

.active::after {
  color: #fff;
}

/* MAIN */
/* INTRO */
.intro {
  background: #f2f2f2;
  /* box-shadow: inset 0px -6px 0px 0px rgba(234, 102, 107, 1); */
}

.slide_container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-width: 1020px;
}

.mySlides {
  position: relative;
  display: none;
  animation: 0.5s ease-in-out;
  overflow: hidden;
}

.active_slide,
.next_slide {
  display: block;
}

.next_slide {
  position: absolute;
  top: 0;
  width: 100%;
}

.phone {
  width: 216px;
  height: 458px;
  border-radius: 30px;
}

.vertical_phone {
  position: absolute;
  top: 55px;
  left: 112px;
  z-index: 20;
  opacity: 0;

}

.horizontal_phone {
  position: absolute;
  top: 56px;
  left: 545px;
  z-index: 20;
  transform: rotate(90deg);
  opacity: 0.6;
}

.screen {
  width: 189px;
  height: 334px;
  background-color: #2d303a;
  border-radius: 5px;
}

.screen_vertical {
  opacity: 0;
  position: absolute;
  top: 118px;
  left: 126px;
  z-index: 10;
  transition: opacity 0.6s;

}

.screen_horizontal {
  opacity: 0;
  position: absolute;
  top: 118px;
  left: 557px;
  z-index: 10;
  transform: rotate(90deg);
  transition: opacity 0.6s;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 0 12px;
  width: auto;
  margin-top: -22px;
  color: rgb(255, 255, 255, 0.4);
  font-weight: bold;
  font-size: 32px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  color: rgba(0, 0, 0, 0.6);
}


/* ==================================================================================================================== */
.to-left {

  animation-name: left;
}

.from-right {

  animation-name: right;
}

.to-right {

  animation-name: right;
  animation-direction: reverse;
}

.from-left {

  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }

  to {
    left: 0;
  }
}

/* ============================================================================== */

.anchor {
  scroll-margin-top: 85px;
}

/* ============================= SERVICES =======================================*/
.services {
  scroll-margin-top: 85px;
  color: #878da9;
  background: #f2f2f2;
  box-shadow: inset 0px -6px 0px 0px rgba(255, 255, 255, 1);
  padding-bottom: 66px;

}

.section-title {
  padding-top: 3.8rem;
  letter-spacing: 0.2px;
  font-size: 30px;
  padding-bottom: 1rem;
}

.services-intro {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.04px;
  line-height: 31px;
  text-align: justify;
}

.services-item {
  display: flex;
}

.about-item {
  flex: 1;
  margin-left: 22px;
}

.img_container {
  width: 59px;
  height: 59px;
  text-align: center;
  margin-top: 3px;
  padding-top: 12px;
  border-radius: 29.5px;
  border: 2px #767e9e solid;
}

.item-title {
  line-height: 17px;
  text-align: left;
  font-size: 18px;
  margin-bottom: 1rem;
  font-weight: 900;
}

.item-text {
  text-align: justify;
  letter-spacing: 0px;
  margin-top: -5px;
  line-height: 22px;
  font-size: 12px;
  height: 65px;
  overflow: hidden;
}

/* ============================= PORTFOLIO =======================================*/
.portfolio {
  background: #2d303a;
  color: #666d89;
  box-shadow: inset 0px -6px 0px 0px #323746;
  padding-bottom: 74px;
}

.portfolio-title {
  padding-top: 3.7rem;
  letter-spacing: 0.01px;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 1rem;
  text-align: justify;
}

.portfolio_intro {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.22px;
  line-height: 35px;
  text-align: justify;
}

.portfolio_selector {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 18px;
}

.portfolio_selector__item {
  font-size: 12px;
  line-height: 21px;
  font-weight: 400;
  letter-spacing: 0.001px;
  text-decoration: none;
  border: 1px #767e9e solid;
  border-radius: 5px;
  color: #767e9e;
  padding-left: 7px;
  padding-right: 5px;
  margin-right: 9px;
  transition: color 0.3s;
}

.portfolio_selector__item:hover {
  color: #dedede;
  border: 1px #d9d9d9 solid;
}

.selected {
  color: #dedede;
  border: 1px #dedede solid;
  padding-left: 7px;
  padding-right: 7px;
}

.active_portfolio {
  box-shadow: 0px 0px 0px 5px #F06C64;
}

.portfolio_block__item:nth-child(n+13) {
  display: none;
}

/* ============================= ABOUT US =======================================*/

.about-us {
  background: #f1f1f1;
  color: #666d89;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  box-shadow: inset 0px -6px 0px 0px #fff;
  padding-bottom: 73px;
}

.about-title {
  padding-top: 3.7rem;
  letter-spacing: -0.05px;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 1.2rem;
}

.about-us_intro {
  font-family: Lato;
  font-weight: 300;
  font-size: 18px;
  text-align: justify;
  letter-spacing: -0.218px;
  line-height: 31px;
  margin-bottom: 42px;
}

.about-us_block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 19px;
  justify-content: space-between;
}

.about-us_item {
  display: flex;
  flex-direction: column;
}

.about-us_title {
  font-size: 18px;
  font-weight: 900;
  color: #666d89;
  text-align: left;
  letter-spacing: -0.257px;
  line-height: 20px;
  padding-top: 16px;
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}


.about-us_text {
  font-size: 12px;
  font-weight: 400;
  text-align: justify;
  line-height: 22px;
  letter-spacing: -0.29px;
  color: #767e9e;
  padding-top: 10px;
  padding-bottom: 22px;
}

.about-us_social {
  height: 32px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social_link {
  text-align: center;
  height: 32px;
  width: 32px;
  border: 1px #767e9e solid;
  border-radius: 16px;
  padding-top: 7px;
  margin-right: 8px;
  transition: filter 0.3s linear;
}

.social_link:hover {
  filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.social_link:last-child {
  margin-right: 0px;
}

/* Get a Quote */
.quote {
  background: #F06C64;
  color: #F0CCCC;
  box-shadow: inset 0px -6px 0px 0px #EA676B;
  padding-bottom: 3px;
}

.quote-title {
  padding-top: 3.7rem;
  letter-spacing: -0.001px;
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 20px;
  text-align: justify;
}

.quote_intro {
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.3px;
  line-height: 31px;
  text-align: justify;
}

.quote_block {
  margin-top: 42px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

/* .form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
} */

.quote_input {
  height: 38px;
  margin-bottom: 16px;
  border-radius: 3px;
  padding-left: 14px;
  font-size: 12px;
  border-width: 0px;
  background-color: #D6564F;
  color: #F48C8F;
  resize: none;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #f48c8f;
}

.quote_input:invalid {
  border: 1px solid red;
}

.quote_input::placeholder {
  color: #F48C8F;
}

.form_button {
  height: 38px;
  margin-bottom: 16px;
  border-radius: 3px;
  padding: 0 16px;
  font-size: 12px;
  border-width: 0px;
  background-color: #D6564F;
  color: #F48C8F;
  resize: none;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: -0.3px;
  color: #f48c8f;
  text-align: center;
}

.form_button:hover {
  background-color: #a6564F;
}

.quote_textarea {
  font-family: "Lato";
  margin-bottom: 16px;
  border-radius: 3px;
  padding-left: 14px;
  font-size: 14px;
  border-width: 0px;
  background-color: #D6564F;
  color: #F48C8F;
  border-style: solid;
  border-radius: 3px;
  resize: none;
  line-height: 17px;
  letter-spacing: -0.3px;
  color: #f48c8f;
}

.quote_textarea::placeholder {
  padding-top: 10px;
  color: #F48C8F;
  letter-spacing: -0.06px
}

.contact-information_container {
  margin-left: 21px;
}

.contact-information_title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 900;
  color: #f0d8d9;
  margin-bottom: 0.5rem;
}

.contact-information_paragraph {
  line-height: 23.1px;
  letter-spacing: -0.1px;
  color: #f0d8d9;
  font-family: "Lato";
  font-size: 12px;
  text-align: justify;
  margin-bottom: 1.4rem;
}

.contact-information_item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact-information_link {
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-size: 12px;
  text-decoration: none;
  transition: color 0.3s;
}

.contact-information_link:hover {
  color: #2d303a;
}

.link_container {
  margin-right: 10px;
  text-align: center;
  width: 13px;
}

/* FOOTER */
.footer {
  background: #2d303a;
}

.copyright {
  font-size: 12px;
  color: #666d89;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  background: #f1f1f1;
  padding: 1rem;
  color: #666d89;
  border: #666d89 1px solid;
  border-radius: 5px;
  width: 30%;
  text-align: justify;
  line-height: 2rem;
}

.modal_string-name {
  text-transform: capitalize;
}

.btn {
  background-color: #666d89;
  border: none;
  color: #f1f1f1;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  margin: 8px auto;
  display: block;
}

.btn:hover {
  background-color: #848db1;
}

/* ---------------------------------------------------------------------------------------- */

@media only screen and (min-width: 320px) {

  .wrapper {
    width: 100%;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
  }

  /* -----------------------------  Header  ----------------------------------------------- */
  .header-inner {
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    position: relative;
  }

  .header-nav {
    display: none;
  }

  .burger_menu {
    display: inline-block;
    position: absolute;
    cursor: pointer;
    padding: 20px;
    z-index: 50;
    left: 0;
  }

  .header-logo {
    font-style: normal;
    font-weight: bold;
    font-size: 19.6875px;
    line-height: 24px;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 25px;
    height: 2.4px;
    background-color: #d1d1d1;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 1.2px;
  }


  .change .bar1 {
    transform: rotate(90deg) translate(6px, 12px);
  }

  .change .bar2 {
    transform: rotate(90deg) translate(-3px, 0px);
  }

  .change .bar3 {
    transform: rotate(90deg) translate(-11px, -12px);
  }

  /* -----------------------------  Mobile Menu  ----------------------------------------------- */
  .mobile_menu {
    /* position: relative; */
  }

  .mobile_menu.open .mobile_overlay,
  .mobile_menu.open .mobile_menu__window {
    opacity: 1;
    z-index: 1000;
    transition: transform 0.4s linear;
  }

  .mobile_menu.open .mobile_menu__window {
    transform: translateX(0px);
  }

  .mobile_overlay,
  .mobile_menu__window {
    opacity: 0;
    z-index: -1;
  }

  .mobile_overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(78, 83, 100, 0.6);
    ;
  }

  .mobile_menu__window {
    height: 100%;
    width: 278px;
    background: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    transform: translateX(-278px);
    transition: transform ease-out 0.5s;
  }

  .mobile_menu__header {
    height: 71px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .close {
    padding: 22px;
    font-size: 32px;
  }



  .mobile_menu__navigation {
    padding-left: 71px;
    padding-top: 162px;
    height: 100%;
    display: flex;
    flex-direction: column;

  }

  .menu_item {
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
    color: rgb(255, 255, 255);
    margin-bottom: 27px;
  }

  .menu_item__active {
    color: #F06C64;
  }

  /* -----------------------------  Slider  ----------------------------------------------- */


  .slide_container {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
  }

  .slider_img {
    width: 100%;
    height: auto;
  }

  /* -----------------------------  Services  ----------------------------------------------- */

  .services {
    padding-top: 25px;
    padding-bottom: 15px;
  }

  .services-block {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px 15px;
    justify-content: space-between;
  }

  .section-title {
    padding-top: 0px;
  }

  /* -----------------------------  Portfolio  ----------------------------------------------- */
  .portfolio {
    padding-top: 42px;
    padding-bottom: 42px;
  }

  .portfolio-title {
    padding-top: 0;
  }

  .portfolio_selector__item {
    font-size: 12px;
    letter-spacing: -1px;
    font-weight: 400;
    text-decoration: none;
    border: 1px #767e9e solid;
    border-radius: 5px;
    color: #767e9e;
    margin-right: 10px;
    transition: color 0.3s;
    height: 22px;
    padding: 3px auto;
    text-align: center;
  }

  .portfolio_block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px 13px;
  }

  .portfolio_block__item {
    width: 100%;
  }

  .portfolio_block__item:nth-child(n+9) {
    display: none;
  }


  .about-title {
    padding-top: 32px;
  }

  /* -----------------------------  About us  ----------------------------------------------- */
  .about-us {
    padding-bottom: 32px;
  }

  .about-us_block {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 34px 19px;
  }

  .about-us_img {
    width: 100%;
    height: auto;
  }

  /* -----------------------------  Quote  ----------------------------------------------- */


  .quote {
    padding-top: 44px;
    padding-bottom: 42px;
  }

  .quote-title {
    padding-top: 0em;
  }

  .quote_block {
    display: block;
    width: 100%;
  }

  .quote_input {
    width: 100%;
  }

  .quote_textarea {
    width: 100%;
  }

  .form_button {
    font-weight: bold;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #FBC65F;
    ;
    color: #886A30;
    text-transform: uppercase;
  }


  .contact-information_container {
    margin-top: 32px;
    margin-left: 0px;
  }

  .contact-information_paragraph {
    margin-bottom: 5px;
  }


  /* -----------------------------  Footer  ----------------------------------------------- */
  .footer_inner {
    display: flex;
    padding: 22px 0px;
    justify-content: center;
    align-items: center;
    height: 71px;
  }

  .copyright {
    display: none;
  }

}

/* -----------------------------  Footer  ----------------------------------------------- */
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 100%;
    padding-left: 41px;
    padding-right: 41px;
    margin: 0 auto;
  }

  /* -----------------------------  Header  ----------------------------------------------- */

  .header-inner {
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    position: relative;
  }

  .header-nav {
    display: block;
  }

  .burger_menu {
    display: none;
  }

  .header-logo {
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: -0.03em;
  }

  /* -----------------------------  Slider  ----------------------------------------------- */

  .prev,
  .next {
    padding: 0 30.12px;
  }

  .next {
    padding-right: 25px;
  }


  /* -----------------------------  Services  ----------------------------------------------- */

  .services {
    padding-top: 39px;
    padding-bottom: 64px;
  }

  .services-block {
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 39px 53px;
    justify-content: space-between;
  }

  /* -----------------------------  Portfolio  ----------------------------------------------- */
  .portfolio {
    padding-top: 59px;
    padding-bottom: 73px;
  }

  .portfolio-title {
    padding-top: 0;
  }

  .portfolio_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 19px;
  }

  .portfolio_block__item:nth-child(n+9) {
    display: block;
  }



  /* -----------------------------  About us  ----------------------------------------------- */
  .about-us {
    padding-top: 52px;
    padding-bottom: 75px;
  }

  .about-us_block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 34px 19px;
  }

  /* -----------------------------  Quote  ----------------------------------------------- */

  .quote {
    padding-top: 53px;
    padding-bottom: 45px;
  }

  .quote-title {
    padding-top: 0em;
  }

  .quote_block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .form_wrapper {
    flex-basis: 442px;
    flex-grow: 2;
  }

  .quote_input {

    width: 100%;
  }

  .contact-information_container {
    margin-top: 0px;
    flex-grow: 1;
    flex-basis: 225px;
    margin-left: 29px;
  }

  .quote_textarea {
    width: 100%;
  }

  .form_button {
    width: 136px;
    height: 38px;
  }

  /* -----------------------------  Footer  ----------------------------------------------- */
  .footer_inner {
    height: 76px;
  }
}

@media only screen and (min-width: 1020px) {
  .wrapper {
    width: 100%;
    max-width: 1020px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
  }

  /* -----------------------------  Header  ----------------------------------------------- */
  /* -----------------------------  Slider  ----------------------------------------------- */
  .prev,
  .next {
    padding: 0 40px;
  }

  .next {
    padding-right: 40px;
  }

  /* -----------------------------  Services  ----------------------------------------------- */
  .services {
    padding-top: 59px;
    padding-bottom: 52px;
  }

  .services-block {
    padding-top: 44px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    justify-content: space-between;
  }

  /* -----------------------------  Portfolio  ----------------------------------------------- */
  .portfolio {
    padding-top: 59px;
    padding-bottom: 74px;
  }

  .portfolio_block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px 20px;
    justify-content: space-between;
  }

  /* -----------------------------  Quote  ----------------------------------------------- */
  .quote {
    padding-top: 59px;
    padding-bottom: 64px;
  }

  .contact-information_list{
    margin-top: 22px;
  }

  /* -----------------------------  Footer  ----------------------------------------------- */
  .footer_inner {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 22px 0px;
    justify-content: space-between;
    align-items: center;
  }

  .copyright {
    display: block;
  }

}